{% extends "base.html" %}
{% load static %}
{% block title %}
    Good or bad food. Каталог продуктов
{% endblock %}
{% block content %}
  <h1 class="pb-2 mb-0">Product category</h1>
  <div class="row">
    {% for product in products %}
      {% ifchanged %}
        <div class="row mt-5" id="{{ product.category.slug }}">
          <div class="col-12">
            <h3>{{ product.category.title }}</h3>
          </div>
        </div>
      {% endifchanged %}
      {% include "includes/product_card.html" %}
    {% endfor %}
  </div>
{% endblock %}