{% extends "base.html" %}
{% load static %}

{% block title %}
    Good or bad food. {{ product.title|lower }}
{% endblock %}
{% block content %}
  <section class="product">
    <h2 class="product__title">{{ product.title }}</h2>

    <div class="product__container container">
      <ul class="product__content">
            <li>{{ product.description }}</li>
            <li>Элементы: {{ elements }}</li>

            <li>Категории: {{ categories }}</li>

            <li>Цена: {{ product.price }}</li>

            <li>Средний рейтинг продукта: {{ rating }}</li>

          <h2>Состав продукта</h2>
            {% for element in elements %}
              <span class="product__element">- {{ element }}</span>
            {% endfor %}

        </ul>
        <div class="product__img-wrapper">
          <img
            class="product__img"
            height="400" width="300"
            src="{{ product.image.url }}">
        </div>

    </div>
  </section>

{% endblock %}